<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success</title>
  <link rel="stylesheet" href="success.css">

</head>
<body>
  <h1>Success</h1>
  <p>Form successfully filled.</p>
</body>
</html>
